{% extends 'base.html.twig' %}

{% block title %}Edit Formulaire{% endblock %}

{% block body %}
    <div class="bg-sky-200 min-h-screen">
        <div class="flex flex-col p-4 justify-center items-center bg-slate-50">

            <h1 class="text-3xl font-semibold text-center">Modifier formulaire</h1>

        </div>

        {{ include('formulaire/_form.html.twig', {'button_label': 'Modifier le formulaire'}) }}

        <div class="flex justify-between px-4 w-[90%] mx-auto">
            <a href="{{ path('app_formulaire_index') }}" class="bg-sky-500 text-white p-2 rounded-lg">Retour</a>

            {{ include('formulaire/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
