{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}

{% for message in app.flashes('danger') %}

    <div class="alert bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <p>{{ message }}</p>
        <span class="close absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
    </div>

{% endfor %}

    <div class="flex flex-col bg-sky-500">

        <div class="flex justify-center items-center h-[30vh]">
            <img src="{{ asset('img/logo.png') }}" alt="logo" class="w-[40vh]">
        </div>

        <form action="{{ path('app_login') }}" method="post" class="text-[2rem] bg-slate-50 rounded-t-[70px] flex flex-col gap-6 h-[70vh] lg:w-[60%] lg:mx-auto lg:rounded-t-[50px]">

            <h1 class="text-[3rem] text-slate-800 font-bold my-6 text-center">Connexion</h1>

            <div class="flex flex-col w-[90%] mx-auto gap-2">
                <label for="username" class="text-slate-600 font-bold">Utilisateur:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="rounded-lg bg-slate-200 h-10 p-2">
            </div>

            <div class="flex flex-col w-[90%] mx-auto gap-2">
                <label for="password" class="text-slate-600 font-bold">Mot de passe:</label>
                <input type="password" id="password" name="_password" class="rounded-lg bg-slate-200 h-10 p-2">
            </div>

            {# ========= Redirection après login ========= #}
            <input type="hidden" name="_target_path" value="/">            
            
            <button type="submit" class="btn bg-sky-500 rounded-xl text-center hover:brightness-125 shadow-lg font-bold w-[70%] mx-auto text-slate-50 p-4 mt-16">Se connecter</button>
            
        </form>
    </div>

{% endblock %}