<!DOCTYPE html>
<html>
	<head>
		<title>BotMan Widget</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="{{ asset('/css/chat.css') }}">
		<script src="{{ asset('/js/chat.js') }}"></script>
	</head>

	<body>
		<script id="botmanWidget" src="{{ asset('/widget/build/js/chat.js') }}"></script>
	</body>
</html>
