<div class="mb-8 flex flex-col">
    {{ form_label(form.email, 'Email', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'p-2 rounded-lg'}}) }}
</div>

<div class="mb-8 flex flex-col">
    {{ form_label(form.telephone, 'Telephone', {'label_attr': {'class': 'text-slate-100 uppercase font-semibold mb-2'}}) }}
    {{ form_widget(form.telephone, {'attr': {'class': 'p-2 rounded-lg'}}) }}
</div>